<div class="card-footer">
            
    <h5 class="text-large font-weight-bold">Result: {{ dilemma.result }} </span> </h5>
    <div class="float-right col-sm-12  pt-3 border-top">
        {% if not dilemma.should_post %}
            <a  href="{% url 'users:make_public' dilemma.id %}" class="btn float-right btn-outline-success ml-4 ">Make Public</a>
        {% else %}
        <a  href="{% url 'users:make_private' dilemma.id %}" class="btn float-right btn-outline-danger ml-4 ">Make Private</a>
        {% endif %}
        <a  href="{% url 'users:del_dilemma' dilemma.id %}" class="btn float-right btn-danger ">Delete</a>
        <a href="{% url 'easydilemma:disclaimer' %}" target="_blank"><small class="text-muted">Disclaimer</small></a>
    </div>
</div>