<!-- This PAGE is the voting Footer for the dilemma card. It is used in Include satement -->
<div class="card-footer voting ">
    <div class="row"> <!--Maybe try to list both buttons in  a list strcture-->
        <div class="col-10 align-self-center"><h5><strong>Result: {{ dilemma.result }}</strong></h5></div>

        {% if user.is_authenticated %}
            <div class="col-2">
                <div class="row">
                    <div class="col-4 text-right btn grow" ><i id="vote_up" data-href="{% url 'easydilemma:handle_vote' dilemma.id %}" class="fas fa-thumbs-up text-primary"></i></div>
                    <div class="col-4 text-center btn" id="vote_count"><strong>{{ dilemma.vote_score }}</strong> </div>
                    <div class="col-4 text-right btn grow"><i id="vote_down" data-href="{% url 'easydilemma:handle_vote' dilemma.id %}" class="fas fa-thumbs-down text-danger"></i></div>           
                </div>
            </div>
            <!-- <div class="col-md-1 text-right btn grow"><i id="vote_up"  data-href="{% url 'easydilemma:handle_vote' dilemma.id %}" class="fas fa-thumbs-up text-primary"></i></div>
            <div class="col-md-1 text-right btn grow"><i id="vote_down" data-href="{% url 'easydilemma:handle_vote' dilemma.id %}" class="fas fa-thumbs-down text-danger"></i></div> -->
        {% else %}
            <div class="col-2">
                <div class="row hi">
                    <div class="col-4 text-right btn grow" data-toggle="tooltip" data-placement="auto" title="Login to vote"><i onclick="alert('Sign in to Vote')" class="fas fa-thumbs-up text-primary"></i></div>
                    <div class="col-4 text-center btn"><strong id="vote_count" >{{ dilemma.vote_score }}</strong></div>
                    <div class="col-4 text-right btn grow" data-toggle="tooltip" data-placement="auto" title="Login to vote"><i onclick="alert('Sign in to Vote')" class="fas fa-thumbs-down text-danger"></i></div>           
                </div>
            </div>
        {% endif %}

    </div>
</div>


<!--This will make an ajax request to the vote view-->

<script rel="script" type="text/javascript">
    $(document).ready(function () {
        $('.voting').on('click', '#vote_up', function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("data-href"), // change it to be a link and this shold be in the link or form,
                data: {'status': 'vote_up'},
                success: function (data) {
                    location.reload();
                }
            })
        });

        $('.voting').on('click', '#vote_down', function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("data-href"), // change it to be a link and this shold be in the link or form,
                data: {'status': 'vote_down'},
                success: function (data) {
                    location.reload();
                    // alert(data.score);
                }
            })
        });
    })
</script>