{% extends "easydilemma/base.html" %}
{% load static %}



{% block extra_css %}
<style>
    li {
        list-style-type: none;
    }
</style>
{% endblock %}



{% block body %}
<div class="container mt-5">
        <div class="page-header text-center mb-5 mt-5">
            <h1>Technologies I used to build this platform.</h1>
            <h5><small class="text-muted">(Please see <a href="https://www.linkedin.com/in/aaronfarntrog/" >LinkedIn</a> for a full list of technologies I am familiar with)</small></h5>
        </div>
    <div class="row">

        <div class="col-sm-4 py-2">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>Languages - Frontend</strong></div>
                <div class="card-body">
                    <ul>
                        <li class="h4"><span class="badge badge-pill badge-secondary">HTML</span></li>
                        <li class="h4"><span class="badge badge-pill badge-secondary">CSS</span></li>
                        <li class="h4"><span class="badge badge-pill badge-secondary">Javascript</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>Languages - Backend</strong></div>
                <div class="card-body">
                    <ul>
                        <li class="h4"><span class="badge badge-pill badge-secondary">Python</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>Databases</strong></div>
                <div class="card-body">
                    <ul>
                        <li class="h4"><span class="badge badge-pill badge-secondary">SQLite</span></li>
                        <li class="h4"><span class="badge badge-pill badge-secondary">PostgreSQL</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>Libraries</strong></div>
                <div class="card-body">
                    <ul>
                        <li class="h4"><span class="badge badge-pill badge-secondary">jQuery</span></li>
                        <li class="h4"><span class="badge badge-pill badge-secondary">Bootstrap</span></li>
                        <li class="h4"><span class="badge badge-pill badge-secondary">FontAwesome</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>Framework</strong></div>
                <div class="card-body">
                    <ul>
                        <li class="h4"><span class="badge badge-pill badge-secondary">Django</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>Version Control</strong></div>
                <div class="card-body">
                    <ul>
                        <li class="h4"><span class="badge badge-pill badge-secondary">Git</span></li>
                        <li class="h4"><span class="badge badge-pill badge-secondary">Github</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header text-center"><strong>System</strong></div>
                <div class="card-body">
                    <ul>
                        <li class="h4"><span class="badge badge-pill badge-secondary">Linux</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<br><br>
{% endblock %}
