{% extends "./base.html" %}

{% load static %}


{% block body  %}

    {% comment %}
    <!--The finnished dilemma card will go here-->
    <div id="add-content">                   
        {% include "./display_users_dilemmas.html" %}
    </div>
    {% endcomment %}

    {% if all_dilemmas|length > 0 %} <!--Make sure that there are some dilemmas for this user if not display message below-->
        {% for dilemma in all_dilemmas %}
            {% include "./snippets/display_dilemmas_snippet.html" with footer_to_include="snippets/card_user_footer" %}
        {% endfor %}
   
    <!-- If user has no dilemmas then display below template -->
    {% else %}
    <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
            <h1 class="display-4">You have no dilemmas</h1>
            <hr class="my-4">
            <p class="lead">
                    <a  href="{% url 'easydilemma:dilemma' %}" class="btn btn-lg btn-primary "><strong>New Dilemma</strong></a>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}