{% extends "easydilemma/base.html" %}
{% load static %}
{% block body %}
    <div class="container" >
        <div class="card" >
            <p>Difficilis.com is for entertainment purposes only! 
                Do <strong>not</strong> make any decisions based on information displayed on 
                this site or information this site may display to you personally. 
                Difficilis.com never actually makes a decision. 
                Difficilis.com merely reorders your input to show you the winning result 
                based on the data you enter. You are making the decision. 
                Difficilis.com just displays your decision to you. Difficilis.com and the owners of 
                difficilis.com take no responsibility for any outcomes that 
                comes about through your decision making. 
                AGAIN. DO NOT MAKE ANY DECISION FROM DIFFICILIS.COM 
                THIS WEBSITE IS FOR ENTERTAINMENT PURPOSES ONLY!!!
            </p>
        </div>
    </div>
{% endblock %}