{% for dilemma in all_dilemmas %}
    <!--TOGGLE CLASS-->
    <div class="container mb-5">
            <div class="card w-75 mx-auto">
                <div class="card-header">
                    {% if dilemma.user is None %}
                        <span class="small badge badge-pill badge-primary font-weight-normal float-right mt-2 align-middle">anonymous_45{{ dilemma.id }}</span>
                    {% else %}
                        <span class="small badge badge-pill badge-primary font-weight-normal float-right mt-2 align-middle">{{ dilemma.user }}</span>
                    {% endif %}
                        
                    <h5>{{ dilemma.dilemma_part_one.dilemma_part_one }} or {{ dilemma.dilemma_part_two.dilemma_part_two }}</h5>
                </div> 
                <div class="card-body">
                    <div class="row mb-3 ml-2">
                        <span class="badge badge-pill badge-secondary text-truncate">Reasons for: {{ dilemma.dilemma_part_one.dilemma_part_one }}</span>
                    </div>
                    {% for reason in dilemma.dilemma_part_one.reason_part_one.all %}
                        <div class="row mb-3">
                            <div class="col-md-8">
                                <input type="text" class="form-control font-weight-bold expand-reason text-truncate" value="{{ reason.reason }}" readonly>
                                <div class="p-2 mb-3 rounded text-dark font-weight-bold border text-center bg-light" style="display: none" id="full-reason-div">{{ reason.reason }}</div>
                            </div>
                            <div class="col-md-4">
                                    {% if reason.selected_option == "1" %}
                                        <input type="text" class="form-control text-center font-weight-bold" value="Not Really Important" readonly>
                                    {% elif reason.selected_option == "2" %}
                                        <input type="text" class="form-control text-center font-weight-bold" value="Somewhat Important" readonly>
                                    {% elif reason.selected_option == "3" %}
                                        <input type="text" class="form-control text-center font-weight-bold" value="Important" readonly>
                                    {% elif reason.selected_option == "4" %}
                                        <input type="text" class="form-control text-center font-weight-bold" value="Very Important" readonly>
                                    {% elif reason.selected_option == "5" %}
                                        <input type="text" class="form-control text-center font-weight-bold" value="Extremely Important" readonly>
                                    {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <hr>
                    <div class="row mb-3 ml-2">
                        <span class="badge badge-pill badge-secondary text-truncate">Reasons for: {{ dilemma.dilemma_part_two.dilemma_part_two }}</span>
                    </div>
                    {% for reason in dilemma.dilemma_part_two.reason_part_two.all %}
                        <div class="row mb-3">
                            <div class="col-md-8">
                                <input type="text" class="form-control font-weight-bold expand-reason text-truncate" value="{{ reason.reason }}" readonly>
                                <div class="p-2 mb-3 rounded text-dark font-weight-bold border text-center bg-light" style="display: none" id="full-reason-div">{{ reason.reason }}</div>
                            </div>
                            <div class="col-md-4">
                                    {% if reason.selected_option == "1" %}
                                        <input type="text" class="form-control text-center font-weight-bold" value="Not Really Important" readonly>
                                    {% elif reason.selected_option == "2" %}
                                        <input type="text" class="form-control text-center font-weight-bold" value="Somewhat Important" readonly>
                                    {% elif reason.selected_option == "3" %}
                                        <input type="text" class="form-control text-center font-weight-bold" value="Important" readonly>
                                    {% elif reason.selected_option == "4" %}
                                        <input type="text" class="form-control text-center font-weight-bold" value="Very Important" readonly>
                                    {% elif reason.selected_option == "5" %}
                                        <input type="text" class="form-control text-center font-weight-bold" value="Extremely Important" readonly>
                                    {% endif %}                        
                            </div>
                        </div>
                    {% endfor %}
                </div>

        <div class="card-footer">
                    
            <h5 class="text-large font-weight-bold">Result: {{ dilemma.result }} </span> </h5>
            <div class="float-right col-sm-12  pt-3 border-top">
                {% if not dilemma.should_post %}
                    <a  href="{% url 'users:make_public' dilemma.id %}" class="btn float-right btn-outline-success ml-4 ">Make Public</a>
                {% else %}
                <a  href="{% url 'users:make_private' dilemma.id %}" class="btn float-right btn-outline-danger ml-4 ">Make Private</a>
                {% endif %}
                <a  href="{% url 'users:del_dilemma' dilemma.id %}" class="btn float-right btn-danger ">Delete</a>
                <a href="{% url 'easydilemma:disclaimer' %}" target="_blank"><small class="text-muted">Disclaimer</small></a>
            </div>
            
        </div>



        </div>
    </div>
{% endfor %}
<br> <br>


{% if all_dilemmas.has_other_pages %}
    <div class="container d-flex justify-content-center">
            <!-- <div class="card w-75 mx-auto"> -->
    <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if all_dilemmas.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ all_dilemmas.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" >Previous</a></li>
                {% endif %}

                {% for i in all_dilemmas.paginator.page_range %}
                    {% if all_dilemmas.number == i %}
                        <li class="active page-item"><a class="page-link" href="?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                        
                {% endfor %}
                {% if all_dilemmas.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ all_dilemmas.next_page_number }}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" >Next</a></li>
                {% endif %}
                
            </ul>
        </nav>
            </div>
    <!-- </div> -->

{% endif %}
