{% extends "./base.html" %}
{% load static %}


{% block body %}

  <main>
    <div class="container-fluid text-center" id="tag-line">
      <h2>Decisions made easy</h2>
    </div>


   <!--Instruction Cards-->
    <div class="container-fluid">
    <div class="row card-deck">
      <div class="col-sm-4 ">
        <div class="card h-100 w3-hover-shadow ">
          <div class="card-body">
            <h5 class="card-title text-center">Enter your dilemma</h5>
            <p class="card-text">Easily enter in you dilemma. We will layout it out neatly so you can decide with a clear head.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100 w3-hover-shadow">
          <div class="card-body">
            <h5 class="card-title text-center">Write out the pros for each side</h5>
            <p class="card-text">You can then assign a weight for each reason. When you are done, our AI 😉 will show you the winning decision.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="card h-100 w3-hover-shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Find out the right decision!</h5>
              <p class="card-text">We will show you the winning decision so you can move on to do the great things you are meant to be doing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/Instruction Cards-->

     <!--Get started button style="background-color: #f2f2f2;"-->
     <div class="mt-5 text-center pb-5 pt-5 bg-light " >
        <a class="btn btn-primary btn-lg" role="button" href="{% url 'easydilemma:dilemma' %}">Enter Dilemma</a>
      </div> 

    <!--Introduction with images-->
    <section >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5 ml-5">
              <img class="img-fluid grow" src="{% static 'easydilemma/images/undraw_questions_75e0.svg' %}"alt=""  style="width:70%;">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 >Enter your dilemma</h2>
              <p>Easily enter in you dilemma. We will layout it out neatly so you can decide with a clear head. TIP: You can always go back and edit the dilemma.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid grow" src="{% static 'easydilemma/images/undraw_choose_80qg.svg' %}" alt="" style="width:50%; height:50%">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2>Enter the reason for each side.</h2>
              <p>You can now enter the reason for each side of the dilemma. You will then give each reason an importance level (weight). TIP: You can add and delete reasons so go crazy!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5 ml-5">
              <img class="img-fluid grow" src="{% static 'easydilemma/images/undraw_completed_ngx6.svg' %}" alt="" style="width:60%;">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5 mr-3">
              <h2>See the result!</h2>
              <p>Our algorithms will take into consideration all the reasons and corresponding weights. We will then use our proprietary AI to calculate and return to you the winning result for your dilemma.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br><br><br>
    <!--/ ENd introduction with images-->

    
    <!--NEW: mt-2 allows a top margin!!-->
    <div class="mt-5 text-center pb-5 pt-5 bg-light" >
      <a class="btn btn-primary btn-lg" role="button" href="{% url 'easydilemma:dilemma' %}">Enter Dilemma</a>
    </div>

{% endblock  %}