{% extends "easydilemma/base.html" %}
{% load static %}

{% block extra_js %}
    <!--Loading overlay Libary-->
    <script  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="  crossorigin="anonymous"></script>
   
   <script>
        // This will make sure the form will not be submitted if the dilemma is the same
        $(document).ready( function() {
            $('#reason_form').submit(function (e) {

                if (!form_checker()) {
                    // Display an error message to user with an alert. Append dismissable error alert to page. I have to append it because whenever user dismisses it then it is removed from the dom sp since we want the error message to come everytime i had to append it to the body each time.
                    var html_alert =  '<div class="alert alert-warning alert-dismissible fade container show" role="alert" id="buttonAlert"><strong>Hmmmm 🤔</strong> Your dilemma is too close to call<strong>!</strong> Try adding/deleting or editing your reasons.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
                    $("#msgs").append(html_alert);   
                    e.preventDefault();                
                }
            });

        });

        $(function() {
            $(".sortable").sortable({
                handle: '.handle',
                cancel: ""
            });
            $(".sortable").disableSelection();
        });

    </script>
{% endblock %}

{% block body %}
<div id="msgs" ></div>
    <!--TODO Make this input stick on scroll instead of the navbar-->
    <!--This is the top non-editable form that displays the users dilemma-->
    <div class="container">
        <form method="POST" action="{% url 'easydilemma:edit_dilemma' dilemma.id %}"> {% csrf_token %}
            <!-- <div class="row"> -->
                <div class="input-group mb-3">
                    <input type="text" id="edit_reasons_form" name="edit_reasons_form" class="form-control text-center font-weight-bold"  value='{{ dilemma.dilemma_part_one }} Or {{ dilemma.dilemma_part_two }}' readonly>
                    <div class="input-group-append">
                        <!--Edit button should take you back to the form page with the original dillema still filled in the form.-->
                        <button id="edit_reasons_button" class="btn btn-outline-secondary" type="submit">Edit</button>
                    </div>
                </div>
            <!-- </div> -->
        </form>
    </div>
    <!--END/ Edit button form-->



<form id="reason_form"  action="{% url 'easydilemma:store_and_calc_reasons' dilemma.id %}" method="POST" role="form" >{% csrf_token %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Reasons to: <span id="reason-1-title">{{ dilemma.dilemma_part_one }}</span></h2>
        </div>
        <div class="card-body">
            
                <div id="form-first-half" class="sortable">

                <div class="form-row">

                    <div class="col-md-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button"><span class="handle">=</span></button>
                            </div>
                            <input type="text" id="reason1" name="reason1"  class="form-control" placeholder="Reason..." required>
                        </div>
                    </div><!--END/col-md-8 -->
    
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <select id="form_1" class="browser-default custom-select" name="form-first-half-select" required>
                                <option value=''>Select Importance...</option>
                                <option value="1">Not really important</option>
                                <option value="2">Somewhat Important</option>
                                <option value="3">Important</option>
                                <option value="4">Very Important</option>
                                <option value="5">Extremely Important</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger delete_button" type="button">X</button>
                            </div>
                        </div>
                    </div><!--END/col-md-4 -->

                </div><!--END/ form-row-->
                
            </div><!--END/ form-first-half-->
            <!-- </form> -->


            <!--Plus button to add new reason element-->
            <div class="mt-3 text-center">
                <!--https://codepen.io/jnbruno/pen/vNpPpW-->
                <button type="button" class="btn btn-primary btn-circle btn-xs" id ="add-reason-form-1">
                    <span class="fas" style="font-size: larger">+</span>
                </button>
            </div>

        </div> <!--End card body-->
        <!--I can delete this. it is just to link to form html page. NEW: mt-2 allows a top margin!!-->

    </div><!--End card-->
    <br>
    <br>


    <div class="card">
        <div class="card-header">
            <!-- Store the reason title that was pulled with JS from the url which is from the form-->
            <h2>Reasons to: <span id="reason-2-title">{{ dilemma.dilemma_part_two }}</span></h2></div>
        <div class="card-body">
            <div id="form-second-half" class="sortable">
            <!-- <form action="#" method="POST" role="form" class="sortable" id="form-second-half"> {% csrf_token %} -->
                
                <div class="form-row">

                    <div class="col-md-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button"><span class="handle">=</span></button>
                            </div>
                            <input type="text" class="form-control" placeholder="Reason..." name="reason_2" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <select class="browser-default custom-select" name="form-second-half-select" required>
                                <option value=''>Select Importance...</option>
                                <option value="1">Not really important</option>
                                <option value="2">Somewhat Important</option>
                                <option value="3">Important</option>
                                <option value="4">Very Important</option>
                                <option value="5">Extremely Important</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger delete_button" type="button">X</button>
                            </div>
                        </div>
                    </div>


                </div>


            </div>


            <div class="mt-3 text-center">
                <button type="button" class="btn btn-primary btn-circle btn-xs" id ="add-reason-form-2">
                    <span class="fas" style="font-size: larger">+</span>
                </button>
            </div>
            <!--JAVASCRIPT: Add a plus sign. So that jquery will add a new form row
                        Also, add a delete button. So that if you add a reason and you change your can delete it.-->
        </div>
    </div>


</div>
    <!-- <input type="hidden" id="total_form_1_elem" name="form_1_total">
<input type="hidden" id="total_form_2_elem" name="form_2_total"> -->
<!-- <input type="submit" value="SUBMITME"> -->
<div class="container mb-3 mt-5" >
        <button id="decide-button" type="submit" class="btn btn-primary btn-block">Decide!</button>
        <!-- <button id="decide-button" type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#reason-result-modal" onclick="validate_reasons()">Decide!</button> -->
    </div>
</form>
<br>

{% endblock %}

{% block extra_bottom_js %}
<script>
    /**
     * When the modal opens we process the form. Therefore:
     * if the form is not valid then prevent modal from opening. So the form will not be processed
     * on click get all the reasons and select elements. Make sure !blank
     * if not blank return true else return false
     * if true allow modal to open if false do not allow modal to open, so change data-toggle attr.
     */
    var form_checker = function() {

        var all_reason_elements = [];
        all_reason_elements = $("#form-first-half").find("input");

        // Get all select elements for this form.
        var all_importance_elemnets = [];
        all_importance_elemnets = $("#form-first-half").find("select");

        // Get number of reasons so that we can use in for loop. Reasons and importance are the SAME length.
        var total_amnt_of_reasons = all_reason_elements.length;

        var total_importance_1 = 0;

        for (var i = 0; i < all_importance_elemnets.length; i++)
            total_importance_1 += parseInt(all_importance_elemnets[i].value);

        // Loop through and get the values for each reason and it's corresponding importance. Then store it in a string
        // Then store in string seperated only by a ~ between each one and a a | between group
        for (var index = 0; index < total_amnt_of_reasons; index++) {
            if ( (all_reason_elements[index].value == "") || (all_importance_elemnets[index].value == "") ) {
                return false;
            }
        }

        // Repeat process for the second form.
        // Get all the reason elements for this form.
        var all_reason_elements = [];
        all_reason_elements = $("#form-second-half").find("input");

        // Get all select elements for this form.
        var all_importance_elemnets = [];
        all_importance_elemnets = $("#form-second-half").find("select");

        var total_importance_2 = 0;

        for (var i = 0; i < all_importance_elemnets.length; i++)
        total_importance_2 += parseInt(all_importance_elemnets[i].value);

        if (total_importance_1 == total_importance_2) {
            return false;
        }

        for (var index = 0; index < total_amnt_of_reasons; index++) {
            if ( (all_reason_elements[index].value == "") || (all_importance_elemnets[index].value == "") ) {
                return false
            }
        }
        return true;
    }
</script>    
{% endblock %}



