<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143158805-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-143158805-1');
  </script>
    <title>Difficilis</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'easydilemma/images/favicon-16x16.png' %}"/> <!-- https://logohub.io/# -->


    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--My css sheet-->
    <link rel="stylesheet" href="../../static/easydilemma/css/main.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>

    <!--jQuery UI local link-->
    <script src="../../static/easydilemma/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <!--Loading overlay Libary-->
    <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
    <script>
        // This will make sure the form will not load if the user did not select an item from the dropdown
        $(document).ready( function() {
            $('#reason_form').submit(function (e) {
                if ($('#form_1').val() == '') {
                e.preventDefault(); //stop form submission
            }
            });
        });
    </script>

    <script>
        $(function() {
            $(".sortable").sortable({
                handle: '.handle',
                cancel: ""
            });
            $(".sortable").disableSelection();
        });

    </script>
    <script src="../../static/easydilemma/js/main2.js" ></script>

</head>

<!--Make it inherit the first page navbar-->

<body>
    <header class="header">
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
                <div class="d-flex">
                    <a class="navbar-brand grow" href="{% url 'easydilemma:index' %}"><img src="{% static 'easydilemma/images/Logo.png' %}" id="logo" style="max-height: 30px; max-width: 150px;;"  alt="Difficilis"></a>
                    <!-- If you use the above logo insteas of the one with the text then you have to comment out the logo id in main.css  -->
                    <!--<a href="index.html" class="navbar-brand text-uppercase font-weight-bold"><span>Difficilis</span></a> -->
                    <!-- https://logohub.io/# -->
                </div>
            
            <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"  class="navbar-toggler navbar-toggler-right">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!--Left side of NavBar-->
                <ul class="navbar-nav">
                <li class="nav-item" ><a  href="{% url 'easydilemma:index' %}" class="nav-link font-weight-bold">Home</a></li>
                <li class="nav-item "><a  href="{% url 'easydilemma:popular_dilemmas' %}" class="nav-link font-weight-bold">Popular</a></li>
                <li class="nav-item"><a  href="{% url 'easydilemma:all_dilemmas' %}" class="nav-link font-weight-bold">Newest</a></li>
                <li class="nav-item"><a  href="{% url 'easydilemma:all_dilemmas' %}" class="nav-link font-weight-bold">All Dilemmas</a></li>

                </ul>
                <!--Right side of NavBar-->
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item ml-lg-3 dropdown ">
                            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                            <!-- <a  href="{% url 'users:logout' %}" class="btn btn-outline-secondary navbar_btn"><strong>Logout</strong></a> -->
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item text-muted" href="{% url 'easydilemma:dilemma' %}">New dilemma</a>
                                <a class="dropdown-item text-muted" href="{% url 'users:profile_update' %}">Change username</a>
                                <a class="dropdown-item text-muted" href="{% url 'users:logout' %}">Logout</a>
                                <a class="dropdown-item text-muted" href="#">Delete account</a>
                                <div class="dropdown-divider"></div>
                                <a  href="{% url 'easydilemma:all_user_dilemmas' %}" class="dropdown-item text-success"><strong>My Dilemmas</strong></a>
                              </div>
                          </li>
                    {% else %}
                        <li class="nav-item ml-lg-3 "><a  href="{% url 'easydilemma:dilemma' %}" class="btn btn-primary"><strong>New Dilemma</strong></a></li>
                        <!-- <li class="nav-item ml-lg-3 "><a  href="{% url 'users:login' %}" class="btn btn-outline-primary navbar_btn" ><strong>LOG IN</strong></a></li> -->
                        <li class="nav-item ml-lg-3 "><a  href="{% url 'users:register' %}" class="btn btn-outline-primary navbar_btn"><strong>SIGN UP</strong></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- /Navbar -->
        </header>

    <!--TODO Make this input stick on scroll instead of the navbar-->
    <!--This is the top non-editable form that displays the users dilemma-->
    <div class="container">
        <form method="POST" action="{% url 'easydilemma:edit_dilemma' dilemma.id %}"> {% csrf_token %}
            <!-- <div class="row"> -->
                <div class="input-group mb-3">
                    <input type="text" id="edit_reasons_form" name="edit_reasons_form" class="form-control text-center font-weight-bold"  value='{{ dilemma.dilemma_part_one }} Or {{ dilemma.dilemma_part_two }}' readonly>
                    <div class="input-group-append">
                        <!--Edit button should take you back to the form page with the original dillema still filled in the form.-->
                        <button id="edit_reasons_button" class="btn btn-outline-secondary" type="submit">Edit</button>
                    </div>
                </div>
            <!-- </div> -->
        </form>
    </div>
    <!--END/ Edit button form-->







<form id="reason_form" action="{% url 'easydilemma:store_and_calc_reasons' dilemma.id %}" method="POST" role="form" >{% csrf_token %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Reasons to: <span id="reason-1-title">{{ dilemma.dilemma_part_one }}</span></h2>
        </div>
        <div class="card-body">
            
                <div id="form-first-half" class="sortable">

                <div class="form-row">

                    <div class="col-md-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button"><span class="handle">=</span></button>
                            </div>
                            <input type="text" id="reason1" name="reason1" class="form-control" placeholder="Reason..." required>
                        </div>
                    </div><!--END/col-md-8 -->
    
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <select id="form_1" class="browser-default custom-select" name="form-first-half-select" required>
                                <option value=''>Select Importance...</option>
                                <option value="1">Not really important</option>
                                <option value="2">Somewhat Important</option>
                                <option value="3">Important</option>
                                <option value="4">Very Important</option>
                                <option value="5">Extremely Important</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger delete_button" type="button">X</button>
                            </div>
                        </div>
                    </div><!--END/col-md-4 -->

                </div><!--END/ form-row-->
                
            </div><!--END/ form-first-half-->
            <!-- </form> -->


            <!--Plus button to add new reason element-->
            <div class="mt-3 text-center">
                <!--https://codepen.io/jnbruno/pen/vNpPpW-->
                <button type="button" class="btn btn-primary btn-circle btn-xs" id ="add-reason-form-1">
                    <span class="fas" style="font-size: larger">+</span>
                </button>
            </div>

        </div> <!--End card body-->
        <!--I can delete this. it is just to link to form html page. NEW: mt-2 allows a top margin!!-->

    </div><!--End card-->
    <br>
    <br>


    <div class="card">
        <div class="card-header">
            <!-- Store the reason title that was pulled with JS from the url which is from the form-->
            <h2>Reasons to: <span id="reason-2-title">{{ dilemma.dilemma_part_two }}</span></h2></div>
        <div class="card-body">
            <div id="form-second-half" class="sortable">
            <!-- <form action="#" method="POST" role="form" class="sortable" id="form-second-half"> {% csrf_token %} -->
                
                <div class="form-row">

                    <div class="col-md-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button"><span class="handle">=</span></button>
                            </div>
                            <input type="text" class="form-control" placeholder="Reason..." name="reason_2" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <select class="browser-default custom-select" name="form-second-half-select" required>
                                <option value=''>Select Importance...</option>
                                <option value="1">Not really important</option>
                                <option value="2">Somewhat Important</option>
                                <option value="3">Important</option>
                                <option value="4">Very Important</option>
                                <option value="5">Extremely Important</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger delete_button" type="button">X</button>
                            </div>
                        </div>
                    </div>


                </div>


            </div>


            <div class="mt-3 text-center">
                <button type="button" class="btn btn-primary btn-circle btn-xs" id ="add-reason-form-2">
                    <span class="fas" style="font-size: larger">+</span>
                </button>
            </div>
            <!--JAVASCRIPT: Add a plus sign. So that jquery will add a new form row
                        Also, add a delete button. So that if you add a reason and you change your can delete it.-->
        </div>
    </div>


</div>
    <!-- <input type="hidden" id="total_form_1_elem" name="form_1_total">
<input type="hidden" id="total_form_2_elem" name="form_2_total"> -->
<!-- <input type="submit" value="SUBMITME"> -->
<div class="container mb-3 mt-5" >
        <button id="decide-button" type="submit" class="btn btn-primary btn-block">Decide!</button>
        <!-- <button id="decide-button" type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#reason-result-modal" onclick="validate_reasons()">Decide!</button> -->
    </div>
</form>
<br>
<script>
    /**
     * When the modal opens we process the form. Therefore:
     * if the form is not valid then prevent modal from opening. So the form will not be processed
     * on click get all the reasons and select elements. Make sure !blank
     * if not blank return true else return false
     * if true allow modal to open if false do not allow modal to open, so change data-toggle attr.
     */
    var form_checker = function() {

        var all_reason_elements = [];
        all_reason_elements = $("#form-first-half").find("input");

        // Get all select elements for this form.
        var all_importance_elemnets = [];
        all_importance_elemnets = $("#form-first-half").find("select");

        // Get number of reasons so that we can use in for loop. Reasons and importance are the SAME length.
        var total_amnt_of_reasons = all_reason_elements.length;

        // Loop through and get the values for each reason and it's corresponding importance. Then store it in a string
        // Then store in string seperated only by a ~ between each one and a a | between group
        for (var index = 0; index < total_amnt_of_reasons; index++) {
            if ( (all_reason_elements[index].value == "") || (all_importance_elemnets[index].value == "") ) {
                return false;
            }
        }

        // Repeat process for the second form.
        // Get all the reason elements for this form.
        var all_reason_elements = [];
        all_reason_elements = $("#form-second-half").find("input");

        // Get all select elements for this form.
        var all_importance_elemnets = [];
        all_importance_elemnets = $("#form-second-half").find("select");

        for (var index = 0; index < total_amnt_of_reasons; index++) {
            if ( (all_reason_elements[index].value == "") || (all_importance_elemnets[index].value == "") ) {
                return false
            }
        }
        return true;
    }

    /**
     * This will call the checker function and then modify the data-toggle attribute.
     */
    var validate_reasons = function( event ) {
        event.preventDefault();
        // Call function that checks all the fields. And then store boolean result.
        var is_valid = form_checker();
        if ( is_valid ) {
            // Process form and allow modal to open and display results
            // $("#decide-button").attr("data-toggle","modal");
            $("#decide-button").submit();
        }
        else {
            // Prevent modal from opening. This will also prevent the form from being processed.
            $("#decide-button").attr("data-toggle","#");
            // Display an error message to user with an alert. Append dismissable error alert to page. I have to append it because whenever user dismisses it then it is removed from the dom sp since we want the error message to come everytime i had to append it to the body each time.
            var html_alert =  '<div class="alert alert-danger alert-dismissible fade container show" role="alert" id="buttonAlert"><strong>Not Valid</strong> Please fill out all the reasons and select an importance level.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
            $("#mr-alert").append(html_alert);
        }
    }
    


</script>    

    <!-- FOOTER -->
    <hr>
    <footer class="container pt-5">
        <div class="float-right"><a href="#" id="back-to-top"></a></div>

        <!-- <p class="float-right"><a href="#"></a></p> -->
        <p>&copy; 2019 Aaron Farntrog</p>
    </footer>

  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>



