{% extends "easydilemma/base.html" %}
    {% load static %}
    {% load crispy_forms_tags %}

    {% block extra_css %}
    <style>
         .asteriskField {
      display: none;            
        }

        /* This will make sure that crsipy form will not display those annoying tips */
        #hint_id_username, #hint_id_password1, #hint_id_password2 {
            display: none;

        }
    </style> 
    {% endblock %}

            
{% block body %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center text-black mb-4">A place to make better informed decisions</h2>
                <div class="row">
                    <div class="col-md-6 mx-auto">

                        <!-- form card login -->
                        <div class="card rounded-1">
                            <div class="card-header">
                                <h3 class="mb-0 text-center">Sign Up</h3>
                            </div>

                            <div class="card-body">
                                <!--[https://getbootstrap.com/docs/4.0/components/forms/]-->
                                <form  autocomplete="off" method="POST" action="{% url 'users:register' %}" > {% csrf_token %}
                                    
                                    
                                    <div class="form-group">                            
                                        {{ form|crispy }}
                                    </div>
                 
                               
                                    <!--Write js code that gets data from the url.-->
                                    <button type="submit" class="btn btn-success btn-lg float-right">Sign Up</button>                            
                                
                                </form>

                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="p-2 mb-3 rounded text-dark font-weight-bold border text-center" >Already have an account? <a href="{% url 'users:login' %} ">Log In</a></div>
                            </div>

                    </div>

                </div>
                <!--/row-->

            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
    </div>
{% endblock %}
<!-- FOOTER -->
{% block footer %}
{% endblock %}